body {

background-color: #9c9f84;
margin: 0px;
font-family: Verdana;
font-size: 14px;

}

.header {
margin:10px
border-radius: 5px;
}

#navbar {
background-color: #5c755e;
margin: 10px;
width: 1024px;
height: 35px;
border-radius: 5px;

}

#navbar ul a {

text-decoration: none;
font-family: Forte;
padding: .2em 5em;
color: black;

}